<?xml version="1.0" encoding="UTF-8"?>
<included>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36}[%line] %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.java.myh.cloud" level="DEV" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="druid.sql" level="DEV" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- hibernate 日志分析器 -->
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="ERROR"
            additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- spring BeanPostProcessorChecker log -->
    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker"
            level="ERROR"
            additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- connection log  -->
    <logger name="druid.sql.Connection" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</included>
